---
import {motion} from 'motion/react'
import {getTitleAnimation} from '~/animation.js'
import {getUI, getLocale} from '~/utils/i18n'
import SubTitle from "~/components/SubTitle.astro";

const locale = getLocale(Astro)

const {
    index: {about}
} = getUI(locale)
---

<section class="mb-2 text-4xl font-bold sm:text-6xl">

    <motion.span
            client:load
            {...getTitleAnimation(1.3)}
    >

        <SubTitle>{about.title}</SubTitle>

        {about.sections.map(section => (
                <motion.span
                        client:load
                        {...getTitleAnimation(1.5)}
                >
                    <p class="mt-6 text-1xl font-medium sm:text-2xl text-paper">
                        {section.content}
                    </p>
                </motion.span>
        ))}

    </motion.span>
</section>